@*<div class="jumbotron">
    <h1>Authorization Server</h1>
    <input class="btn btn-primary btn-lg" type="button" value="Log in" onclick="location.href='/Account/Login'" />
</div>*@
@{ 
		Response.Redirect("~/Account/Login");
	}