@*@{
				ViewBag.Title = "Index";
				Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->

@using (Html.BeginForm())
{
				<input type="submit" value="Connect" />
				<input type="button" value="Connect Local" onclick="location.href='@Url.Action("Get", "Values")'" />
}

@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
}