/* General Styles */
body, html {
		height: 100%;
}

body {
		padding-top: 32px;
}

a {
		color: #99998B !important;
}

button {
		outline-style: none;
}

#mainScreen {
		background-image: url('../../../Content/Images/MainBackground2BW.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		height: 100%;
}

/* Menu */
.dropdown-submenu {
		height: 40px;
}

.subMenuItem {
		min-width: 200px;
		max-width: 300px;
}

.nav > li > a:hover, .nav > li > a:focus, .subMenu > li > a:focus, .subMenu > li > a:hover {
		color: #CDCDCD;
		text-decoration: none;
		background-color: transparent !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		background-color: transparent;
		border-color: none;
}

a:hover, a:focus {
		color: #CDCDCD !important;
		background-color: transparent;
		text-decoration: none;
}

.navbar {
		position: relative;
		min-height: 26px;
		margin: auto;
		border: 1px solid transparent;
}

.subMenuItem :hover, .subMenuItem:focus {
		background: transparent !important;
		color: #CDCDCD !important;
}

#header {
		position: fixed;
		background-color: #222222;
}

.menuTitle {
		position: absolute;
		width: 100%;
		left: 0;
		font-size: 18px;
		text-align: center;
		margin: 0 auto;
}

.subMenu {
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 1000;
		display: none;
		background-color: #222222;
}

.leftArrowMenu {
		position: absolute;
		right: 0px;
		margin-top: 10px;
}

.menuTitle:hover, .menuTitle:focus {
		color: #99998B;
}

.glyphicon-menu-hamburger:before {
		left: 0;
		top: 0;
		position: fixed;
		margin-top: 5px;
		margin-left: 5px;
}

#menu {
		background-color: #222222;
		min-width: 150px;
		max-width: 250px;
		margin-top: 0px;
}

#menuButton:hover, #menuButton:focus {
		color: #CDCDCD;
		border-color: transparent;
}

#menuButton {
		font-size: 20px;
		border: none;
		color: #99998B;
		border-color: transparent;
		background-color: transparent;
}

.menuIconUser .glyphicon {
		font-size: 40px;
}

#headerSignUp {
		margin-right: 15px;
}

#headerLogin {
		margin-right: 15px;
}

#mainScreenPartialContainer {
		text-align: center;
		height: 100%;
		width: 100%;
		background-color: #BEBEBE;
}

/* Chat assistant */

#chatContainer {
		background-color: whitesmoke;
		height: 190px;
		width: 270px;
		position: fixed;
		bottom: 34px; /*Offset to see the full chat container*/
		right: 0;
}

#chatTitle {
		background-color: #1F1F1F;
		height: 30px;
}

		#chatTitle > b {
				display: inline-block;
				margin: 4px;
				color: #99998B;
		}

#chatContainer > input {
		position: absolute;
		width: 100%;
		bottom: 0;
		right: 0;
		background-color: whitesmoke;
}


#chatCloseButtom:hover, #chatCloseButtom:focus {
		color: #CDCDCD;
		border-color: transparent;
}

#chatCloseButtom {
		font-size: 16px;
		border: none;
		color: #99998B;
		border-color: transparent;
		background-color: transparent;
		position: fixed;
		right: 0;
}


/* Footer */

#footerPanel {
		border-top-color: #545454;
		border-top-width: medium;
		background-color: #222222;
		width: 100%;
		height: 32px;
		position: fixed;
		bottom: 0;
}

/* Notification Panel */

#eventManagerButtons > button:hover, #eventManagerButtons button:focus {
		color: #CDCDCD;
		border-color: transparent;
}

#eventManagerButtons > button {
		font-size: 16px;
		border: none;
		color: #99998B;
		border-color: transparent;
		background-color: transparent;
}

#eventManagerButtons {
		position: fixed;
		right: 0;
}

#notificationPanel {
		position: fixed;
		left: 0;
		height: 25px;
		margin-top: 2px;
		text-align: center;
		border: 1px solid #9E9E95;
		border-bottom-width: inherit;
		border-top-width: inherit;
		border-left-width: inherit;
		color: #9E9E95;
		width: 94%;
}

#notificationPanelEvents {
		margin-top: 27px;
		background: #E0DED6;
		color: black;
		overflow-y: scroll;
		height: 100%;
		position: absolute;
		width: 100%;
		left: 0;
}

		#notificationPanelEvents > ul {
				list-style-type: none;
				padding-left: 0px;
		}

				#notificationPanelEvents > ul > li {
						height: 29px;
						border: 1px solid #9E9E95;
						border-right-width: inherit;
						border-top-width: inherit;
						border-left-width: inherit;
						padding-top: 5px;
						color: #262626;
						font-family: amaranth;
						font-weight: bold;
				}

						#notificationPanelEvents > ul > li > .glyphicon:before {
								margin-left: 5px;
						}

.notification-debug {
		color: #3B3B3B;
}

.notification-info {
		color: #335C28;
}

.notification-warn {
		color: #7C7F16;
}

.notification-error {
		color: #5B1C1D;
}
